<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GoogleDomainAPIDNSUpdater.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <GoogleDomainAPIDNSUpdater.App>
            <setting name="Username" serializeAs="String">
                <value></value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value></value>
            </setting>
            <setting name="BaseAddress" serializeAs="String">
                <value></value>
            </setting>
            <setting name="RelativePath" serializeAs="String">
                <value></value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value></value>
            </setting>
            <setting name="IPFile" serializeAs="String">
                <value></value>
            </setting>
            <setting name="TTL" serializeAs="String">
                <value></value>
            </setting>
        </GoogleDomainAPIDNSUpdater.App>
    </applicationSettings>
</configuration>